# Creating a logistic regression to predict absenteeism

In [1]:
import numpy as np
import pandas as pd

In [2]:
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

## Create the targets

In [4]:
#Anything below the median will be 0
#Anything above the median will be 1

data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [6]:
data_preprocessed['Excessive Absenteeism'] = targets

In [7]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [8]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [9]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'], axis=1)

In [10]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

## Select inputs for the regression

In [11]:
data_with_targets.shape

(700, 15)

In [12]:
unscaled_inputs = data_with_targets.iloc[:,:-1]
unscaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1

## Standardize the date

In [13]:
#Scale only the numerical features

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

In [14]:
class CustomScaler(BaseEstimator,TransformerMixin): 
    
    # init or what information we need to declare a CustomScaler object
    # and what is calculated/declared as we do
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        
        # scaler is nothing but a Standard Scaler object
        self.scaler = StandardScaler(copy,with_mean,with_std)
        # with some columns 'twist'
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    
    # the fit method, which, again based on StandardScale
    
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    # the transform method which does the actual scaling

    def transform(self, X, y=None, copy=None):
        
        # record the initial order of the columns
        init_col_order = X.columns
        
        # scale all features that you chose when creating the instance of the class
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        
        # declare a variable containing all information that was not scaled
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        
        # return a data frame which contains all scaled features and all 'not scaled' features
        # use the original order (that you recorded in the beginning)
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [15]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [16]:
columns_to_scale = ['Month Value',
       'Day of the week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets']

In [17]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [18]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Month Value', 'Day of the week',
                      'Transportation Expense', 'Distance to Work', 'Age',
                      'Daily Work Load Average', 'Body Mass Index', 'Education',
                      'Children', 'Pets'],
             copy=None, with_mean=None, with_std=None)

In [19]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [20]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,-0.683704,1.005844,0.412816,-0.536062,-0.806331,0.767431,-0.447980,0.880469,0.268487
1,0,0,0,0,0.182726,-0.683704,-1.574681,-1.141882,2.130803,-0.806331,1.002633,-0.447980,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.007725,-0.654143,1.426749,0.248310,-0.806331,1.002633,-0.447980,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.668253,0.854936,-1.682647,0.405184,-0.806331,-0.643782,-0.447980,0.880469,-0.589690
4,0,0,0,1,0.182726,0.668253,1.005844,0.412816,-0.536062,-0.806331,0.767431,-0.447980,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.007725,-0.654143,-0.533522,0.562059,-0.853789,-1.114186,2.232242,0.880469,-0.589690
696,1,0,0,0,-0.388293,-0.007725,0.040034,-0.263140,-1.320435,-0.853789,-0.643782,-0.447980,-0.019280,1.126663
697,1,0,0,0,-0.388293,0.668253,1.624567,-0.939096,-1.320435,-0.853789,-0.408580,2.232242,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.668253,0.190942,-0.939096,-0.692937,-0.853789,-0.408580,2.232242,-0.919030,-0.589690
699,0,0,0,1,-0.388293,0.668253,1.036026,0.074838,0.562059,-0.853789,-0.408580,-0.447980,-0.019280,0.268487

## Split the data into train and test & and shuffle

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the week  \
 495         0         0         0         1     0.753746        -0.683704
 319         1         0         0         0     1.324766        -0.683704
 659         0         0         0         1    -0.673803         1.344231
 601         0         0         0         1    -1.244823         1.344231
 90          0         0         0         1     1.324766        -0.007725
 ..        ...       ...       ...       ...          ...              ...
 226         0         0         0         1    -0.102784        -1.359682
 109         0         0         0         1     1.610276        -0.007725
 363         0         0         0         1    -1.530333        -1.359682
 431         0         0         0         1    -0.388293         1.344231
 345         1         0         0         0     1.610276         0.668253

      Transportation Expense  Distance to Work       Age  \
 495                0.356940         -0.330735  0.718933
 319               -0.654143          1.426749  0.248310
 659               -0.654143         -0.263140 -1.006686
 601               -0.654143         -0.533522  0.562059
 90                 0.040034         -0.263140 -1.320435
 ..                      ...               ...       ...
 226               -1.016322         -1.209478 -0.379188
 109                2.092381          1.494345 -1.320435
 363                1.005844          0.412816 -0.536062
 431                0.568211          1.359154 -0.065439
 345                0.356940         -0.330735  0.718933

      Daily Work Load Average  Body Mass Index  Education  Children      Pets
 495                -0.251187        -0.878984  -0.447980 -0.919030 -0.589690
 319                 0.305783         1.002633  -0.447980 -0.919030 -0.589690
 659                -0.637953        -1.819793   2.232242 -0.919030 -0.589690
 601                -0.188851        -1.114186   2.232242  0.880469 -0.589690
 90                  0.863727        -0.643782  -0.447980 -0.019280  1.126663
 ..                       ...              ...        ...       ...       ...
 226                 2.644155        -0.408580  -0.447980  0.880469 -0.589690
 109                -0.262439         0.061825  -0.447980 -0.019280  2.843016
 363                 1.456728         0.767431  -0.447980  0.880469  0.268487
 431                -0.643304        -0.878984  -0.447980  2.679969 -0.589690
 345                -0.879469        -0.878984  -0.447980 -0.919030 -0.589690

 [525 rows x 14 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the week  \
 568         0         0         0         1     1.610276        -1.359682
 631         0         0         0         1    -0.959313        -0.007725
 96          1         0         0         0     1.324766        -0.007725
 9           0         0         0         1     0.182726        -1.359682
 449         0         0         0         1    -0.102784        -0.683704
 ..        ...       ...       ...       ...          ...              ...
 272         0         0         1         0     0.753746        -0.007725
 524         1         0         0         0     1.039256         0.668253
 395         0         0         0         1    -0.959313        -1.359682
 675         0         0         1         0    -0.388293        -0.007725
 267         0         0         1         0     0.468236        -0.007725

      Transportation Expense  Distance to Work       Age  \
 568                0.040034         -0.263140 -1.320435
 631               -0.654143          1.426749  0.248310
 96                 1.005844          0.412816 -0.536062
 9                  0.190942         -1.277074  0.091435
 449                0.356940         -0.330735  0.718933
 ..                      ...               ...       ...
 272                1.005844          0.412816 -0.536062
 524                0.040034         -0.263140 -1.320435
 395                0.190942         -1.277074  0.091435
 675                0.040034         -1.006691  0.718933
 267                0.190942         -1.277074  0.091435

      Daily Work Load Average  Body Mass Index  Education  Children      Pets
 568                 0.218718        -0.643782  -0.447980 -0.019280  1.126663
 631                -1.240355         1.002633  -0.447980 -0.919030 -0.589690
 96                  0.863727         0.767431  -0.447980  0.880469  0.268487
 9                  -0.806331         0.532229   2.232242 -0.019280  0.268487
 449                -0.446195        -0.878984  -0.447980 -0.919030 -0.589690
 ..                       ...              ...        ...       ...       ...
 272                 0.560476         0.767431  -0.447980  0.880469  0.268487
 524                 0.326336        -0.643782  -0.447980 -0.019280  1.126663
 395                -0.685486         0.532229   2.232242 -0.019280  0.268487
 675                -0.853789         0.297027   2.232242  0.880469  1.126663
 267                -0.154696         0.532229   2.232242 -0.019280  0.268487

 [175 rows x 14 columns],
 array([0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
        1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
        1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
        1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
        1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
        0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
        0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
        1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
        1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
        0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
        0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
        1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
        0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1]),
 array([0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
        1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
        1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
        1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1])]

In [23]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, test_size = 0.2, random_state=42)

## Logistic regression

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [25]:
reg = LogisticRegression(verbose=2)

In [26]:
reg.fit(x_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

LogisticRegression(verbose=2)

In [27]:
reg.score(x_train, y_train)

0.7660714285714286

## Checking accuracy

In [28]:
model_outputs = reg.predict(x_train)

In [29]:
model_outputs == y_train

array([ True,  True,  True,  True, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False,  True, False,  True,
        True, False, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True,  True, False, False,  True,  True, False, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True, False,  True,  True,  True,  True, False,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False, False,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True, False,  True,  True,  True,
       False,  True, False,  True,  True,  True, False,  True, False,
       False,  True, False,  True, False,  True,  True, False,  True,
       False, False, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False, False,  True,  True,
        True,  True, False,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False,  True,  True,  True,  True,  True,
        True, False,  True, False,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True, False, False,  True,  True, False, False,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True, False,  True,  True, False, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True, False,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True])

In [30]:
np.sum((model_outputs == y_train))/model_outputs.shape[0]*100

76.60714285714286

In [31]:
reg.intercept_

array([-1.7575216])

In [32]:
reg.coef_

array([[ 2.92993196,  0.73453473,  3.07517417,  0.99389691,  0.07923215,
        -0.15754023,  0.67570676, -0.05915557, -0.25914578, -0.02183528,
         0.24334102, -0.10857391,  0.41638209, -0.31223952]])

In [33]:
feature_name = unscaled_inputs.columns.values

In [34]:
summary_table = pd.DataFrame(columns=['Feature Name'], data=feature_name)
summary_table["Coefficient"] = np.transpose(reg.coef_)
summary_table

               Feature Name  Coefficient
0                  Reason_1     2.929932
1                  Reason_2     0.734535
2                  Reason_3     3.075174
3                  Reason_4     0.993897
4               Month Value     0.079232
5           Day of the week    -0.157540
6    Transportation Expense     0.675707
7          Distance to Work    -0.059156
8                       Age    -0.259146
9   Daily Work Load Average    -0.021835
10          Body Mass Index     0.243341
11                Education    -0.108574
12                 Children     0.416382
13                     Pets    -0.312240

In [35]:
summary_table.index = summary_table.index + 1

In [36]:
summary_table.loc[0] = ["Intercept", reg.intercept_[0]]

In [37]:
summary_table.sort_values('Coefficient', ascending=False)

               Feature Name  Coefficient
3                  Reason_3     3.075174
1                  Reason_1     2.929932
4                  Reason_4     0.993897
2                  Reason_2     0.734535
7    Transportation Expense     0.675707
13                 Children     0.416382
11          Body Mass Index     0.243341
5               Month Value     0.079232
10  Daily Work Load Average    -0.021835
8          Distance to Work    -0.059156
12                Education    -0.108574
6           Day of the week    -0.157540
9                       Age    -0.259146
14                     Pets    -0.312240
0                 Intercept    -1.757522

## Testing the model

In [38]:
reg.score(x_test, y_test)

0.7714285714285715

In [40]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.82479129, 0.17520871],
       [0.87647778, 0.12352222],
       [0.77483419, 0.22516581],
       [0.58309947, 0.41690053],
       [0.51095095, 0.48904905],
       [0.08342333, 0.91657667],
       [0.66267711, 0.33732289],
       [0.3461606 , 0.6538394 ],
       [0.75267385, 0.24732615],
       [0.71080784, 0.28919216],
       [0.8873699 , 0.1126301 ],
       [0.68878666, 0.31121334],
       [0.25475123, 0.74524877],
       [0.51186407, 0.48813593],
       [0.74009104, 0.25990896],
       [0.45183015, 0.54816985],
       [0.92160616, 0.07839384],
       [0.25305153, 0.74694847],
       [0.88831271, 0.11168729],
       [0.59781606, 0.40218394],
       [0.67248635, 0.32751365],
       [0.78027914, 0.21972086],
       [0.67318629, 0.32681371],
       [0.66823202, 0.33176798],
       [0.87004581, 0.12995419],
       [0.18751338, 0.81248662],
       [0.60454451, 0.39545549],
       [0.56493446, 0.43506554],
       [0.79462288, 0.20537712],
       [0.62889024, 0.37110976],
       [0.89051754, 0.10948246],
       [0.85087111, 0.14912889],
       [0.42504916, 0.57495084],
       [0.44856152, 0.55143848],
       [0.76376772, 0.23623228],
       [0.29921498, 0.70078502],
       [0.71821392, 0.28178608],
       [0.84456563, 0.15543437],
       [0.11293715, 0.88706285],
       [0.82420541, 0.17579459],
       [0.44465395, 0.55534605],
       [0.76255405, 0.23744595],
       [0.45898876, 0.54101124],
       [0.85103681, 0.14896319],
       [0.80447568, 0.19552432],
       [0.24925665, 0.75074335],
       [0.19633406, 0.80366594],
       [0.09999939, 0.90000061],
       [0.65624252, 0.34375748],
       [0.86064429, 0.13935571],
       [0.77185089, 0.22814911],
       [0.68120984, 0.31879016],
       [0.5617652 , 0.4382348 ],
       [0.05345585, 0.94654415],
       [0.83880432, 0.16119568],
       [0.74932673, 0.25067327],
       [0.02465917, 0.97534083],
       [0.72321403, 0.27678597],
       [0.12069426, 0.87930574],
       [0.75600842, 0.24399158],
       [0.45250401, 0.54749599],
       [0.86169401, 0.13830599],
       [0.45921069, 0.54078931],
       [0.34473448, 0.65526552],
       [0.8873699 , 0.1126301 ],
       [0.58351712, 0.41648288],
       [0.33309675, 0.66690325],
       [0.93422503, 0.06577497],
       [0.7068816 , 0.2931184 ],
       [0.51306418, 0.48693582],
       [0.71080784, 0.28919216],
       [0.7732936 , 0.2267064 ],
       [0.26281635, 0.73718365],
       [0.68120984, 0.31879016],
       [0.88269457, 0.11730543],
       [0.34464834, 0.65535166],
       [0.56951402, 0.43048598],
       [0.79471653, 0.20528347],
       [0.76848347, 0.23151653],
       [0.57968711, 0.42031289],
       [0.08342333, 0.91657667],
       [0.09553764, 0.90446236],
       [0.85243584, 0.14756416],
       [0.80605728, 0.19394272],
       [0.87969496, 0.12030504],
       [0.31001622, 0.68998378],
       [0.80151605, 0.19848395],
       [0.10955933, 0.89044067],
       [0.24819761, 0.75180239],
       [0.67985113, 0.32014887],
       [0.83044142, 0.16955858],
       [0.43081561, 0.56918439],
       [0.66887514, 0.33112486],
       [0.7312277 , 0.2687723 ],
       [0.54649081, 0.45350919],
       [0.11293715, 0.88706285],
       [0.43502955, 0.56497045],
       [0.05433406, 0.94566594],
       [0.36597245, 0.63402755],
       [0.2219008 , 0.7780992 ],
       [0.71261642, 0.28738358],
       [0.32022489, 0.67977511],
       [0.78718034, 0.21281966],
       [0.18725748, 0.81274252],
       [0.8612664 , 0.1387336 ],
       [0.43146317, 0.56853683],
       [0.13351684, 0.86648316],
       [0.82420541, 0.17579459],
       [0.88412344, 0.11587656],
       [0.36518302, 0.63481698],
       [0.30930366, 0.69069634],
       [0.39074874, 0.60925126],
       [0.52690769, 0.47309231],
       [0.65767051, 0.34232949],
       [0.25145712, 0.74854288],
       [0.50065352, 0.49934648],
       [0.65346374, 0.34653626],
       [0.08771081, 0.91228919],
       [0.491896  , 0.508104  ],
       [0.11358456, 0.88641544],
       [0.73046565, 0.26953435],
       [0.19732917, 0.80267083],
       [0.222164  , 0.777836  ],
       [0.25379551, 0.74620449],
       [0.24913654, 0.75086346],
       [0.66748429, 0.33251571],
       [0.78718034, 0.21281966],
       [0.71015856, 0.28984144],
       [0.30132205, 0.69867795],
       [0.82620127, 0.17379873],
       [0.64694373, 0.35305627],
       [0.85392676, 0.14607324],
       [0.21213337, 0.78786663],
       [0.48697101, 0.51302899],
       [0.66009802, 0.33990198],
       [0.05130751, 0.94869249],
       [0.49888684, 0.50111316],
       [0.38623914, 0.61376086],
       [0.62728577, 0.37271423],
       [0.8730143 , 0.1269857 ]])

## Saving the model

In [41]:
import pickle

In [42]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)
 #'rm' for reading
 #pickle.load for loading the model

In [43]:
with open('scaler', 'wb') as file:
    pickle.dump(absenteeism_scaler, file)